<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginTests Suite">

    <test verbose="2" preserve-order="true" name="Donatix_Third_Assignment">
        <classes>
            <class name="tests.LoginTests.LoginTests">
                <methods>
                    <include name="loginWithValidCredentials"/>
                    <include name="loginWithInvalidCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>